/* 
================================================================================
LAYOUT
================================================================================
*/

* {
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

div#content {
    padding: 20px;
}

table#draftboard {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

/* 
================================================================================
TABLE CELLS
================================================================================
*/

th, td {
    border: 1px solid #666;
    overflow: hidden;
    position: relative;
}

tr.row-even, td.col-even {
    background-color: #EEE;
}

tr.row-even td.col-even {
    background-color: #DDD;
}

th.drafter, td.pick {
    width: 8.5%;
}

th.drafter {
  font-size: 18pt;
}

th.round-number {
    background-color: #FFF;
}

th.current-drafter, tr.current-round th.round-number {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

/* 
================================================================================
PICKS
================================================================================
*/

td.pick {
    height: 64px;
}

td.pick > div {
  height: 100%;
}

div.player {
    height: 100%;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
}

div.team {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
}

span.first-name {
    font-size: 14pt;
    position: relative;
}

span.last-name {
    display: block;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 22pt;
    margin-top: -3px;
    position: relative;
    white-space: nowrap;
}

/* 
===============================================================================
PICKS - POSITIONS & TEAMS
===============================================================================
*/

div.pos-qb {
    background-color: #FF9999; /* red */
}

div.pos-wr {
    background-color: #FFCC99; /* orange */
}

div.pos-rb {
    background-color: #FFFFCC; /* yellow */
}

div.pos-te {
    background-color: #CCFFCC; /* green */
}

div.pos-k {
    background-color: #33CCFF; /* blue */
}

div.pos-def {
    background-color: #CCCCFF; /* purple */
}

div.team-ari div.team {
    background-image: url('../img/icons/ari.gif');
}

div.team-atl div.team {
    background-image: url('../img/icons/atl.gif');
}

div.team-bal div.team {
    background-image: url('../img/icons/bal.gif');
}

div.team-buf div.team {
    background-image: url('../img/icons/buf.gif');
}

div.team-car div.team {
    background-image: url('../img/icons/car.gif');
}

div.team-chi div.team {
    background-image: url('../img/icons/chi.gif');
}

div.team-cin div.team {
    background-image: url('../img/icons/cin.gif');
}

div.team-cle div.team {
    background-image: url('../img/icons/cle.gif');
}

div.team-dal div.team {
    background-image: url('../img/icons/dal.gif');
}

div.team-den div.team {
    background-image: url('../img/icons/den.gif');
}

div.team-det div.team {
    background-image: url('../img/icons/det.gif');
}

div.team-gb div.team {
    background-image: url('../img/icons/gb.gif');
}

div.team-hou div.team {
    background-image: url('../img/icons/hou.gif');
}

div.team-ind div.team {
    background-image: url('../img/icons/ind.gif');
}

div.team-jac div.team {
    background-image: url('../img/icons/jac.gif');
}

div.team-kc div.team {
    background-image: url('../img/icons/kc.gif');
}

div.team-mia div.team {
    background-image: url('../img/icons/mia.gif');
}

div.team-min div.team {
    background-image: url('../img/icons/min.gif');
}

div.team-ne div.team {
    background-image: url('../img/icons/ne.gif');
}

div.team-no div.team {
    background-image: url('../img/icons/no.gif');
}

div.team-nyg div.team {
    background-image: url('../img/icons/nyg.gif');
}

div.team-nyj div.team {
    background-image: url('../img/icons/nyj.gif');
}

div.team-oak div.team {
    background-image: url('../img/icons/oak.gif');
}

div.team-phi div.team {
    background-image: url('../img/icons/phi.gif');
}

div.team-pit div.team {
    background-image: url('../img/icons/pit.gif');
}

div.team-sd div.team {
    background-image: url('../img/icons/sd.gif');
}

div.team-sf div.team {
    background-image: url('../img/icons/sf.gif');
}

div.team-sea div.team {
    background-image: url('../img/icons/sea.gif');
}

div.team-stl div.team {
    background-image: url('../img/icons/stl.gif');
}

div.team-tb div.team {
    background-image: url('../img/icons/tb.gif');
}

div.team-ten div.team {
    background-image: url('../img/icons/ten.gif');
}

div.team-was div.team {
    background-image: url('../img/icons/was.gif');
}

/* 
===============================================================================
Timer
===============================================================================
*/

.timer {
  background-color: #fff;
  font-size: 24pt;
  height: 100%;
  padding-top: 16px;
  text-align: center;
  text-shadow: 0px 0px 2px #888;
}

.timerOverdue {
  background-color: #f00;
}

.timerLong {
  background-color: #ff0;
}
