#footer {
  display: none;
}

.playerName, .playerPos, .playerTeam {
  text-align: center;
}

#startBlock {
  display: none;
}

#notstarted p {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0px #000;
  margin: 5px;
  padding: 10px;
  text-align: center;
}
