<% layout('layout') %>
<% script('http://code.jquery.com/jquery-1.10.0.min.js') %>
<% script('static/js/lodash.js') %>
<% script('static/js/backbone.js') %>
<% script('static/js/underscore.string.js') %>
<% script('socket.io/socket.io.js') %>
<% script('static/js/pickTimer.js') %>
<% script('static/js/board.js') %>
<% stylesheet('static/css/board.css') %>

<script type="text/template" id="pickTemplate">
<div class="pos-${ position.toLowerCase() } team-${ team.toLowerCase() }">
  <div class="team"></div>
  <div class="player">
    <span class="first-name">${ firstname }</span>
    <span class="last-name">${ lastname }</span>
  </div>
</div>
</script>

<script type="text/template" id="pickTimerTemplate">
  <div class="timer ${ extraClass }">${ displayedTime }</div>
</script>

    <table id="draftboard">
        <thead>
        <tr>
            <th class="drafter">Matt</th>
            <th class="drafter">Stephanie</th>
            <th class="drafter">Brad</th>
            <th class="drafter">Lincoln</th>
            <th class="drafter">Jon</th>
            <th class="drafter">Andrew</th>
            <th class="drafter">Dave</th>
            <th class="drafter">Gary</th>
            <th class="drafter">Pumpkin</th>
            <th class="drafter">Bernie</th>
            <th class="drafter">Oliver</th>
            <th class="drafter">Crater Face</th>
        </tr>
        </thead>
        <body>
        <tr class="round row-odd">
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
            <td class="pick col-odd"> </td>
            <td class="pick col-even"> </td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-even">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        <tr class="round row-odd">
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
            <td class="pick col-odd"></td>
            <td class="pick col-even"></td>
        </tr>
        </tbody>
    </table>

