<% layout('layout') %>
<% script('http://code.jquery.com/jquery-1.10.0.min.js') %>
<% script('http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js') %>
<% script('static/js/lodash.js') %>
<% script('socket.io/socket.io.js') %>
<% script('static/js/picker.js') %>
<% stylesheet('http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css') %>

<meta name="viewport" content="width=device-width, initial-scale=1">

<div data-role="page" id="pick">

  <div data-role="header" data-position="fixed">
    <nav data-role="navbar">
      <ul>
        <li><a href="#" class="ui-btn-active">QB</a></li>
        <li><a href="#">RB</a></li>
        <li><a href="#">WR</a></li>
        <li><a href="#">TE</a></li>
        <li><a href="#">K/DEF</a></li>
      </ul>
    </nav>
  </div>

  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Filter Players" id="playerlist">
    </ul>
  </div>

  <div id="footer" data-role="footer" data-position="fixed">
    <a id="makePick" data-role="button" data-icon="check" data-iconpos="bottom" data-inline="false" href="#pickConfirm" data-rel="popup" data-position-to="window">Make Pick</a>
  </div>

  <div id="pickConfirm" data-role="popup" data-dismissable="false" data-overlay-theme="a" class="ui-content">
    <div id="playerConfirm"></div>
    <a data-role="button" data-rel="back">Cancel</a>
    <a data-role="button" id="confirmPick">Confirm Pick</a>
  </div>

  <div id="notstarted" data-role="popup" data-dismissable="false">
    The draft has not yet started.
    <a data-role="button" id="startDraft">Start Draft</a>
  </div>
</div>

<div data-role="page" id="waiting">
  Please wait for your turn to draft.
</div>

<script>
  var players = <%- JSON.stringify(players) %>;
</script>

<script type="text/template" id="pickConfirmTemplate">
  You are about to draft:
  <div class="playerName">${ player.firstname } ${ player.lastname }</div>
  <div class="playerPos">${ player.position }</div>
  <div class="playerTeam">${ player.team }</div>
</script>
